// scss-lint:disable ColorVariable
@import "variables";
@import "vendor/magnific-popup";

.wrapper {
  background: #f9f9f9;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

hr {
  border-top: 1px solid #e4e4e4;
}

@media (max-width: 600px) {
  .wrapper div:nth-child(5) {
    padding: 0;
  }

  .wide-feature-link {
    padding: 18px;
  }

  .wide-feature-link a {
    padding: 8px;
    font-size: 16px;
  }
}

.title {
  font-size: 49px;
  color: $color-white;
  line-height: 66px;
  text-transform: uppercase;
  text-align: left;
  font-weight: 300;
  margin: 10px auto;
  margin-top: 50px;
}

.header-text {
  font-weight: 400;
  font-size: 18px;
  color: rgba($color-white, .85);
  line-height: 24px;
  text-align: justify;

  a {
    color: $color-secondary-alt;
  }

  .actions {
    margin-top: 25px;
    text-align: justify;
  }

  b {
    color: $color-white;
  }
}

.head-bg {
  background: url("/images/feature_page/lines.png") center right no-repeat;
  min-height: 390px;
}

.head-non-bg {
  min-height: 390px;
}

.actions.ee {
  text-align: center;
  padding-top: 35px;
}

.feature-row {
  margin-top: 0;

  &.first {
    margin-top: 30px;
  }

  &.last {
    margin-bottom: 50px;
  }
}

.small-feature {
  margin-top: 50px;

  img {
    box-shadow: 0 3px 3px 0 rgba(124, 124, 124, .50);
  }

  .name {
    font-weight: 200;
    font-size: 25px;
    text-align: center;
    padding-bottom: 10px;
    color: #212121;
    line-height: 34px;
  }

  .link {
    text-align: center;
    margin-top: 21px;

    a {
      background: $color-primary;
      color: $color-white;
      border: 1px solid $color-white;
      border-radius: 4px;
      font-size: 13px;
      padding: 7px;
      transition: 1s ease;
      text-decoration: none;

      @media (max-width: 375px) {
        font-size: 10px;
      }
    }

    a:hover {
      background: #f9f9f9;
      color: $color-primary;
      text-decoration: none;
    }
  }
}

.feature {
  width: 750px;
  height: 400px;
  margin: 70px auto;
  text-align: left;

  .link {
    text-align: right;
    padding-top: 5px;

    a {
      text-decoration: none;
      font-size: 15px;
      color: #a9a9a9;
      line-height: 20px;
    }

    a:hover {
      color: #0e74ad;
    }
  }

  .name {
    font-size: 29px;
    color: $color-dark;
    line-height: 39px;
    text-transform: uppercase;
    font-weight: 300;
  }

  .description {
    font-size: 23px;
    color: #737373;
    line-height: 32px;
    font-weight: 300;
    margin-bottom: 5px;
  }

  img {
    margin: auto;
  }
}

.features-bottom-cta {
  margin-bottom: 35px;
  text-align: center;
}

.img {
  height: 299px;
  width: 749px;
  overflow: hidden;
  border: 1px solid #dfdfdf;

  img {
    transition: all .3s ease;
  }

  &:hover img {
    transform: scale(1.15);
  }
}

.wide-feature {
  width: 100%;

  &.head {
    background-color: $color-primary;
    padding: 120px 0;

    .btn-default {
      background: #5d4d93;
      color: $color-white;
      transition: all .2s;
      border: 1px solid $color-white;
    }

    .btn-default:hover {
      background: $color-white;
      color: #8865a8;
      border-color: $color-white;
    }

    &.ee {
      background: $color-primary;
      padding: 50px 0;
    }
  }

  .row {
    margin: auto;
  }

  &.community {
    background-color: #6652a3;

    .description {
      text-align: center;
      font-weight: 300;
      color: #333;
      font-size: 23px;
    }

    .name {
      text-align: center;
      text-transform: uppercase;
      font-weight: 300;
      color: $color-white;
      font-size: 40px;
    }
  }

  &.mr {
    background: #f1f1f1;
    background-attachment: fixed;
    text-align: center;

    .img-responsive {
      margin: auto;
      display: inline;
    }

    .name {
      font-size: 50px;
      color: #212121;
      line-height: 68px;
      padding-top: 50px;
    }

    .description {
      font-size: 20px;
      color: #353535;
      line-height: 27px;
      font-weight: 200;
      margin-bottom: 30px;
    }
  }

  .name {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    color: $color-white;
    font-size: 40px;
  }

  .description {
    text-align: center;
    color: $color-white;
    margin: 0 auto;
    max-width: 700px;
    font-size: 18px;
  }
}

.wide-feature-link {
  margin-bottom: 50px;

  a {
    background: #5d4d93;
    color: $color-white;
    transition: all .2s;
    padding: 13px;
    font-size: 17px;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 53px;

    @media (max-width: 375px) {
      font-size: 12px;
    }

    &:hover {
      background: #f5f5f5;
      color: $color-primary;
    }
  }
}

.half-feature {
  width: 400px;
  margin: auto;
  margin-top: 50px;

  .name {
    font-size: 29px;
    color: $color-dark;
    line-height: 39px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
  }

  .img {
    width: 400px;
    height: 300px;
    overflow: hidden;
    border: 1px solid #dfdfdf;
  }

  .link {
    text-align: right;
    padding-top: 5px;

    a {
      text-decoration: none;
      color: #a9a9a9;
    }

    a:hover {
      color: #0e74ad;
    }
  }

  .right {
    float: right;
  }
}

.qnav {
  background: $color-primary;
  position: fixed;
  width: 100%;
  border: 0;
  border-radius: 0;
  min-height: 0;
  z-index: 100;
  transition: all .5s ease;
}

.qnav2 {
  background: #6652a3;
}

.nav-pills > a {
  font-weight: 600;
  border-radius: 0;

  &:hover {
    background: $color-primary;
  }
}

.circle {
  background: #85f806;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  margin: auto;
}

.qfix {
  position: fixed;
  z-index: 100;
  top: 50px;
  width: 100%;
}

.nav-justified > li > a {
  color: $color-white;
}

.featurenav {
  width: 500px;
}

// scss-lint:disable SelectorDepth
.qnav .nav-pills > .active > a,
.qnav .nav-pills > li > a:hover,
.qnav .nav-pills > li > a:focus {
  color: $color-white;
  background-color: #7860c2;
  border-radius: 0;
}
// scss-lint:enable SelectorDepth

// scss-lint:disable IdSelector
#community {
  padding: 60px 0;
}

#compare {
  padding: 60px 0;
}
// scss-lint:enable IdSelector

.compare-table {
  border: 1px solid #e9e9e9;
  background-color: $color-white;

  .ce-col,
  .ee-col {
    text-align: center;
    width: 15%;
  }
}

.panel-title {
  font-size: 20px;
}

.table a {
  font-size: 17px;
  color: #476da7;
}

.table > tbody > td,
.table > tbody > th,
.table > tfoot > td,
.table > tfoot > th,
.table > thead > td,
.table > thead > th {
  font-size: 17px;
}

.wide-img {
  max-width: 1000px;
  margin: 0 auto;
}

.print {
  display: none;
}

.gitlab-geo-video-row {
  margin-bottom: 70px;

  h2 {
    margin-bottom: 80px;
  }
}

// scss-lint:enable ColorVariable
